<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zarifdev blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %} ">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">ZarifDev Blog</a></h1>
    </header>
<!--    Saytga kirgan yoki kirmaganini chiqarish-->

    {% if user.is_authenticated %}
        <p>Xush kelibsiz, {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">Chiqib ketish</a></p>
    {% else %}
        <p>
            <a href="{% url 'login' %}">Saytga kirish</a> |
            <a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
        </p>
    {% endif %}
<!--    the end-->
    <div>
        {% block content %}

        {% endblock content %}
    </div>
<!--blog sayt 2-qism-->
<footer>
    <h2>
        <a href="{% url 'post_new' %}">Yangi post yozish</a>
    </h2>
</footer>
</body>
</html>